//cardProduct
.cardProduct{
    height: 380px;
    width: 250px;
}
.cardImg{
    height: 50%;
    width: 100%;
    position: relative;
}
.imgProduct{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgProduct img{
    height: 100%;
    // background-size: cover;
    // background-position: center;
}
.dsctoProduct{
    background-color: #EA0029;
    color:#fff;
    position: absolute;
    bottom: 0;
    padding: 5px ;
}
.textProduct{
    height: 80%;
    text-align: center;
}
.textProduct p{
    padding: 0px;
    margin: 0px;
}
.infoProduct{
    height: 50%;
}
.textProduct p i{
    color: rgba(7, 7, 7, 0.753);
}
.card-action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.card-action a{
    font-size: calc(0.6em + 0.6vw);
    width: 100%;
}
.unid{
    color:  #8052a459;
    font-size: calc(0.5em + 0.5vw);
}

@media (max-width:1024px) {
    .cardProduct{
        height: 280px;
        width: 180px;
    }
}

@media screen and (max-width: 575px) {
    .cardProduct{
        height: 220px;
        width: 141px;
    }
}