//barra de navegación
nav{
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.logo {
    padding-left: 50px;
    padding-right: 50px;
    font-size: calc(1.3em + 1.3vw);
    color: #000000;
}
.scrollActive{
    background-color: #fff;
    .right a{
        color:#333F49;
    }
    .logo{
        color:#333F49;
    }
    .menu{
        color:#333F49;
    }
}

//Media Query
@media screen and (max-width: 1024px) {
    .logo {
        padding-left: 0px;
        padding-right: 0px;
    }
}