.container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}
.col{
    width: 580px;
}
.card-action{
    display: flex;
    justify-content: center;
}
.btn{
    background-color:#722282;
    font-size: 1.2rem;
    width: 70%;
}
.card-content p{
    font-size: 1.2rem;
}
@media screen and (max-width: 1024px) {
    .col {
        width: 100%;
    }
}