
<div class="carousel desktop" >
    <a class="carousel-item " href="#one!"><img src="https://firebasestorage.googleapis.com/v0/b/beautycorp013.appspot.com/o/imgUtils%2Fimgdesktop.jpg?alt=media&token=8a515f3a-a503-4ab2-be99-cfccd6716402"></a>
    <a class="carousel-item " href="#two!"><img src="https://firebasestorage.googleapis.com/v0/b/beautycorp013.appspot.com/o/imgUtils%2Flbeldestok.jpg?alt=media&token=fca01dce-baa5-4fa5-85d9-a5f30b230f78"></a>
    <a class="carousel-item " href="#three!"><img src="https://firebasestorage.googleapis.com/v0/b/beautycorp013.appspot.com/o/imgUtils%2Fdesktop.png?alt=media&token=52507ce1-6ae1-4f2e-b208-736fa0b4a233"></a>
</div>
<div class="carousel mobile">
    <a class="carousel-item " href="#one!"><img src="https://firebasestorage.googleapis.com/v0/b/beautycorp013.appspot.com/o/imgUtils%2Fesikamobile.jpg?alt=media&token=c0025132-39ee-40d1-a25c-4afa1c83897a"></a>
    <a class="carousel-item " href="#two!"><img src="https://firebasestorage.googleapis.com/v0/b/beautycorp013.appspot.com/o/imgUtils%2Fcyzonemobile.jpg?alt=media&token=55c9a4c6-bac0-48bd-b8f5-5b6607342b37"></a>
    <a class="carousel-item " href="#three!"><img src="https://firebasestorage.googleapis.com/v0/b/beautycorp013.appspot.com/o/imgUtils%2Flbelmobile.jpg?alt=media&token=56e4d8cf-2d7d-47cb-8348-8d8a8b960896"></a>
</div>

<section class="contentHome">
    <div class="aboutUs container">
        <h2>¿ Quienes somos ?</h2>
        <p class="about">
            Somos una corporación multinacional de belleza con más de 50 años de experiencia en la venta directa. Desde nuestra fundación, hemos acompañado a millones de mujeres en el logro de su independencia económica a través de la venta de productos de nuestras tres marcas, Ésika, L’Bel y Cyzone.
        </p>
    </div>
</section>
<app-item-brand></app-item-brand>