<div class="carousel carousel-slider desktop" >
    <a class="carousel-item " href="#one!"><img src="../../../assets/img/esikadesktop.jpg"></a>
    <a class="carousel-item " href="#two!"><img src="../../../assets/img/lbeldestok.jpg"></a>
    <a class="carousel-item " href="#three!"><img src="../../../assets/img/cyzonedesktop.png"></a>
</div>
<div class="carousel mobile">
    <a class="carousel-item " href="#one!"><img src="../../../assets/img/esikamobile.jpg"></a>
    <a class="carousel-item " href="#two!"><img src="../../../assets/img/lbelmobile.jpg"></a>
    <a class="carousel-item " href="#three!"><img src="../../../assets/img/cyzonemobile.jpg"></a>
</div>

<section class="contentHome">
    <div class="aboutUs container">
        <h2 class="title">¿ Quienes somos ?</h2>
        <p class="about">
            Somos una corporación multinacional de belleza con más de 50 años de experiencia en la venta directa. Desde nuestra fundación, hemos acompañado a millones de mujeres en el logro de su independencia económica a través de la venta de productos de nuestras tres marcas, Ésika, L’Bel y Cyzone.
        </p>
    </div>
</section>
<app-item-brand></app-item-brand>