<footer>
    <div class="structure">
        <div class="name">
            <h1>esika</h1>
        </div>
        <div class="flex">
        <div class="socialMedia">
            <h4>CONTACTÁNOS</h4>
            <ul class="list">
                <li>Escribenos</li>
                <li>Preguntas frecuentes</li>
                <li>Cambios o devoluciones</li>
            </ul>
        </div>
        <div class="socialMedia">
            <h4>LEGAL</h4>
            <ul class="list">
                <li>Términos y condiciones</li>
                <li>condiciones de uso web</li>
            </ul>
        </div>
        <div class="socialMedia">
            <h4>POLÍTICAS</h4>
            <ul class="list">
                <li>Políticas de privacidad</li>
                <li>Código de ética</li>
            </ul>
        </div>
        <div class="socialMedia">
            <h4>SÍGUENOS</h4>
                <ul>
                <li href="https://www.google.com.pe/maps/search/belcorp/@-12.0628427,-77.029618,13z/data=!3m1!4b1?hl="><i class="fab fa-facebook-square"> Facebook</i></li>
                <li href="https://www.facebook.com/BelcorpCorporativo/"><i class="fab fa-instagram"> Instagram</i></li>
                <li href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiXlezH-LjuAhXNRTABHRRIACAQFjAAegQIAhAD&url=https%3A%2F%2Ftwitter.com%2Fbelcorpcorp%3Flang%3Des&usg=AOvVaw1y_LXN8-AcRYiHRe0wwnBd"><i class="fab fa-twitter"> Twitter</i></li>
                <li href="https://www.belcorp.biz/contactanos/"><i class="fab fa-youtube"> Youtube</i></li>
                </ul>
                
        </div>
      </div>
    </div>
    <div class="copyright">
        <p>© 2021 BeautyCorp. - Todos los derechos reservados</p>
    </div>
</footer>
