// img {
//   margin: 2vw;
// }
.register {
  width: 55vw;
  border-right: solid #e5e5e5 1px;
  padding: 4vw;
}
.col{
  width: 20vw;
}
.detail {
  width: 35vw;
}
#start {
  width: 15vw;
  height: 2vw;
  color: rgb(148, 148, 148);
}
input[type="text"],input[type="number"], select {
  height: 30px;
  border:solid 1px rgb(148, 148, 148);
  border-radius: 6px;
  padding: 2px;
  color: rgb(148, 148, 148);
}
label{
  font-weight: 800;
  font-size: 0.9em;
  color: #707070;
}
.formInformation {
  width: 50vw;
}
.space {
  width: 60vw;
  margin: 0;
}
.checkNews {
  margin: 0vw 1vw;
  color: violet;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
.checkNews label {
  padding-left: 1.25em;
  background: url("https://s3-eu-west-1.amazonaws.com/static.oscargascon.es/wp-content/media/check-radio-sprites.png")
    no-repeat top left;
}
.checkNews input[type="checkbox"] + label {
  background-position: 0 0;
  width: 16px;
  height: 16px;
}
.checkNews input[type="checkbox"]:checked + label {
  background-position: 0 -21px;
  width: 16px;
  height: 16px;
}
.superContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.full{
  width: 40vw;
}
h6 {
  margin: 2vw 0 ;
  font-weight: 800;
  color: #707070;
}
select{
  width: 12vw;
}
.adjust{
  width: 11vw;
  margin-right: 1.75vw;
}
#continue{
  display: flex;
  justify-content:flex-end ;
  width: 50vw;
}
#continue a{
  background-color: #8D93BC;
  padding: 1vw;
  height: 55px;
  width: 150px;
  font-size: large;
  margin-right: 10vw;
}
hr{
  width: 80%;
  border: solid 1px #e5e5e5;
  margin: 50px 0;
}
.politics a{
  color:#707070;
  margin-right: 10px;
  margin-top: 2vw;
  font-weight: 800;
  border-bottom: solid #707070 2px;
}
.card {
  width: 30vw;
  box-shadow: none;

}
.apply{
  background-color: #8D93BC;
  padding: 1vw;
  height: 55px;
  width: 150px;
  font-size: large;
  margin: 1vw;
}
.order{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1vw;
}
.description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description p{
  margin:2vw 0vw;
}
// .card-image img {
//   width: 10vw;
//   height: 5vw;
// }
@media(max-width:1070px){
  .superContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
}
.card-content{
  max-width: 100%;
  padding: 0;
}
  #step2{
  width:100% ;
  height: 50%;
}
.register{
  width: 100vw;
}
.formInformation {
  width: 100vw;
  border: none;
}
.detail {
  width: 90vw;
}
.card-image  {
  width:40vw;
  height:40vw;
}
// .card-image img {
//   width:20vw;
//   height:20vw;
//   max-width: 40vw;
// }
.apply a{
  margin-left: 10vw;
  width: 30vw;
  max-width: 50vw;
  margin-top: 30px;
}
.col, select, #start{
  width: 80vw;
}
.description{
  width: 80vw;
}
.order{
  width:80vw;
}
#discount{
  width:40vw;
}
#apply{
  margin-top:10 vw;
  width:70vw;
  margin-left: 2vw;
}
}

////////////////////////////////////////////////////////
.itemP{
  height: 95px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
}
.imgP{
  width: 30%;
  height: 100%;
  text-align: center;
}
.imgP img{
  height: 100%;

}
.textP{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.textP div{
  font-size: calc(0.5em + 0.5vw);
}

.deleteP{
  width: 10%;
  height: 100%;
}
.deleteP i{
  cursor: pointer;
}

.shopping-cart{
  margin:20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  height: 200px;
  min-width: 500px;
  overflow-y: scroll;
}