<div class="superContainer flex">
  <div class="flex register">
    <img id="step2" src="https://github.com/IllariLaksmi/BeautyCorpLim013/blob/main/BeautyCorp/src/assets/img/steps.png?raw=true">
    <h6>Información de contacto</h6>
    <div id="formInformation" class="row">
      <form class="col s12">
        <div class="space row">
          <div class="col ">
            <label for="first_name">Nombre</label>
            <input id="first_name" type="text" class="validate">
          </div>
          <div class="col">
            <label for="last_name">Apellido</label>
            <input id="last_name" type="text" class="validate">
          </div>
        </div>
        <div class="space row">
          <div class="col">
            <label for="first_name">Documento - DNI</label>
            <input id="first_name" type="text" class="validate">
          </div>
          <div class="col">
            <label for="last_name">Teléfono</label>
            <input id="last_name" type="number" class="validate">
          </div>
        </div>
        <div class="space row">
          <div class="full col">
            <label for="first_name">Correo Electrónico</label>
            <input id="first_name" type="text" class="validate">
          </div>
        </div>
        <div class="checkNews">
          <p>
            <input type="checkbox" id="test5" />
            <label for="test5">Quiero recibir noticias y ofertas exclusivas</label>
          </p>
        </div>
      </form>
    </div>
    <div class="col s12">
      <div>
        <h6>Entrega</h6>
        <div class="space row">
          <div class="col">
            <label for="start">Selecciona fecha de envío:<br></label>
            <input type="date" id="start" name="trip-start" min="2021-29-01">
          </div>
        </div>
        <h6>Dirección de envío</h6>
        <div class="space row">
          <div class="adjust col">
          <label>Departamento</label>
          <select class="browser-default">
            <option value="" disabled selected>Escoge</option>
            <option value="1">Lima</option>
            <option value="2">Arequipa</option>
            <option value="3">San Martín</option>
          </select>
        </div>
        <div class="adjust col">
          <label>Provincia</label>
          <select class="browser-default">
            <option value="" disabled selected>Escoge</option>
            <option value="1">Cañete</option>
            <option value="2">Huaura</option>
            <option value="3">Lima Metropolitana</option>
          </select>
        </div>
        <div class="adjust col">
          <label>Distrito</label>
          <select class="browser-default">
            <option value="" disabled selected>Escoge</option>
            <option value="1">Barranco</option>
            <option value="2">Rímac</option>
            <option value="3">Los Olivos</option>
          </select>
      </div>
      </div>
      <br>
      <div class="space row">
        <div class="full col">
          <label for="first_name">Dirección</label>
          <input id="first_name" type="text" class="validate">
        </div>
      </div>
      <div class="space row">
        <div class="full col">
          <label for="first_name">Referencia</label>
          <input id="first_name" type="text" class="validate">
        </div>
      </div>
      <div id="continue" class="space row">
        <a routerLink="paymentsNext" class="waves-effect waves-light btn" >Continuar</a>
      </div>
    </div>

    <br>
        <hr>
    <div class="politics space row">
        <a>Política de reembolso</a>
        <a>Política de privacidad</a>
      </div>
    </div>
  </div>
  <div class="flex detail">
    <div class="col s12 m7">
      <div class="card horizontal">
        <!-- <div class="card-image">
          <img src="https://cdn.shopify.com/s/files/1/2770/4310/products/esika-estados-unidos-plumon-tattoo-punta-fina.jpg?v=1598758790">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="description">
              <h6 class="col">Delineador</h6>
              <p>S/50.00</p>
            </div>
            <p>Color: negro</p>
            <p>Cantidad: 1 unidad</p>
          </div>
        </div> -->

      <section class="shopping-cart">
        <section class="itemP" *ngFor="let product of orderDetail; index as i">
          <div class="imgP">
              <img src="{{product.imgUrl}}">
          </div>
          <div class="textP">
              <div><i class="fas fa-angle-right"></i> {{product.name}}</div>
              <div><i class="fas fa-angle-right"></i> {{product.quantity}} Unidades X S/{{product.promotionPrice}}</div>
              <div>S/{{product.subtotal}}</div> 
          </div>
          <div class="deleteP">
              <i class="fas fa-times" (click)="deleteProduct(i,product)"></i>
          </div>
      </section>
    </section>


      </div>
    </div>
    <div class="order col s6">
      <div>
        <label for="discount">¿Tienes algún cupón de descuento?</label>
        <input  id="discount" type="text" class="validate">
    </div>
      <a id="apply"class="apply waves-effect waves-light btn">Aplicar</a>
    </div>
    <hr>
    <div class="description">
    <p>Subtotal:</p>
    <p>S/00.00</p>
  </div>
  <div class="description">
    <p>Costo de envío: </p>
    <p>S/00.00</p>
  </div>
    <hr>
    <div class="description">
      <p>Total: </p>
      <p>S/00.00</p>
    </div>
  </div>
</div> 
