#stepsShop{
    background-color: transparent;
    color:#8D93BC;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
#stepsShop a{
    background-color: white;
    color:#8D93BC;
}
nav{
    background-color: transparent;
    box-shadow: none;
}