<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l2 s12">
                <h6 class="white-text">BEAUTYCORP</h6>
                <img src="Logo.png">
            </div>
            <div class="col l2 s12">
                <h6>NUESTRAS MARCAS</h6>
                <p>L'BEL</p>
                <p>Ésika</p>
                <p>Cyzone</p>
            </div>
            <div class="col l2 s12">
                <h6>LEGAL</h6>
                <p>Términos y condiciones</p>
                <p>Condiciones y uso web</p>
            </div>
            <div class="col l2 s12">
                <h6>POLÍTICAS</h6>
                <p>Políticas de privacidad</p>
                <p>Código de ética</p>
            </div>
            <div class="col l2 s12">
                <h6 class="white-text">SÍGUENOS</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!"><span class="iconify" data-icon="brandico:facebook-rect" data-inline="false" style="color: white;"></span> Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><span class="iconify" data-icon="bx:bxl-instagram-alt" data-inline="false" style="color: white;"></span> Instagram</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><span class="iconify" data-icon="bytesize:twitter" data-inline="false" style="color: white;"></span> Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><span class="iconify" data-icon="cib:youtube" data-inline="false" style="color: white;"></span> Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
           <p>© 2021 Beautycorp. - Todos los derechos reservados.</p>
        </div>
    </div>
</footer>