<footer>
    <div class="structure">
        <div class="concept">
            <h3>Beauty Corp</h3>
            <p>Lo extraordinario está en ti</p>
            <hr style="width:100%; color: black;">
            <a>
                <p>Sobre nosotros</p>
            </a>
            <a>
                <p>Catálogos</p>
            </a>
            <a>
                <p>Trabaja con nosotros</p>
            </a>
            <a>
                <p>Política de privacidad</p>
            </a>
        </div>
        <div>
        </div>
        <div class="socialMedia">
            <p>Siguenos en redes!</p>
            <div>
                <a href="https://www.google.com.pe/maps/search/belcorp/@-12.0628427,-77.029618,13z/data=!3m1!4b1?hl="> <img
                        src="https://www.flaticon.es/svg/vstatic/svg/1312/1312168.svg?token=exp=1611638634~hmac=844724b09eda75888fba91f06bf3934e"></a>
                <a href="https://www.facebook.com/BelcorpCorporativo/"> <img
                        src="https://www.flaticon.es/svg/vstatic/svg/1312/1312139.svg?token=exp=1611635726~hmac=36211bd63eba664d04d17fc10a4e0418">
                </a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiXlezH-LjuAhXNRTABHRRIACAQFjAAegQIAhAD&url=https%3A%2F%2Ftwitter.com%2Fbelcorpcorp%3Flang%3Des&usg=AOvVaw1y_LXN8-AcRYiHRe0wwnBd"> <img
                        src="https://www.flaticon.es/svg/vstatic/svg/1312/1312142.svg?token=exp=1611638588~hmac=9fcad015355ef081c4bfa44d64ef84f3">
                </a>
                <a href="https://www.belcorp.biz/contactanos/"> <img
                        src="https://www.flaticon.es/svg/vstatic/svg/1312/1312162.svg?token=exp=1611638634~hmac=10963a12e5bf1e1cb604708b01220632">
                </a>
            </div>
            <p id="logo">© 2021 BeautyCorp Development</p>
        </div>
        <div>
            <h3>Alguna duda? Dejanos tu correo!</h3>
            <input id="styleEmail" type="email">
            <button class="buttonEmailFooter">Enviar</button>
        </div>
    </div>
</footer>