
<div class="parallax-container">
  <p class="title">Inspírate con <br> ésika</p>
    <div class="parallax"><img src="../../../assets/img/fondo2.jpg">
    
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <p class="header">LO MEJOR DE LA TEMPORADA</p>
      <div class="containerProd">
        <section *ngFor="let data of productsTop">
          <app-card-product [objProduct]="data"></app-card-product>
      </section>
      </div>
    </div>
  </div>
  <div class="container-image">
    <div class="imagi"><img src="../../../assets/img/esikaMujerRoja.png"></div>
    <div class="frace"><h3><img src="../../../assets/img/“.png">Somos distintas y eso nos hace únicas...</h3><p>Por eso, descubre nuestros tips de maquillaje para cada tipo de rostro</p>
      <div class="ver"><p>Ver tutorial</p></div></div>
    
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../../../assets/img/portadaEsika2.jpg"></div>
  </div>
