<!-- <div class="carousel carousel-slider desktop" >
    <a class="carousel-item " href="#one!"><img src="../../../assets/img/esikadesktop.jpg"></a>
    <a class="carousel-item " href="#two!"><img src="../../../assets/img/lbeldestok.jpg"></a>
    <a class="carousel-item " href="#three!"><img src="../../../assets/img/cyzonedesktop.png"></a>
</div>
<div class="carousel mobile">
    <a class="carousel-item " href="#one!"><img src="../../../assets/img/esikamobile.jpg"></a>
    <a class="carousel-item " href="#two!"><img src="../../../assets/img/lbelmobile.jpg"></a>
    <a class="carousel-item " href="#three!"><img src="../../../assets/img/cyzonemobile.jpg"></a>
</div> -->


<div class="parallax-container">
    <div class="parallax"><img src="../../../assets/img/portadaesika1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <div class="prueba">

      </div>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../../../assets/img/portadaEsika2.jpg"></div>
  </div>
