<app-navbar-payments></app-navbar-payments>
<section class="container">
    <section class="login">
        <div class="title">
            <p >Iniciar Sesión</p>
        </div>
        <section class="card">
            <div class="email">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
            </div>
            <div class="password">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Contraseña</label>
                </div>
            </div>
            <div class="checkNews">
                <p>
                    <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Mantener sesión iniciada</span>
                    </label>
                </p>
            </div>
            <div class="containerbtn">
                <a class="waves-effect waves-light btn btnLogin">INICIAR SESIÓN</a>
            </div>
            <div>
                <p class="recover">¿Olvidaste la contraseña?</p>
            </div>
            <div class="btnGoogle">
                <a class="btn-floating btn-large pulse"><i class="fab fa-google"></i></a>
            </div>

            <div>
                <hr>
            </div>
            <div class="containerbtn">
                <a class="waves-effect waves-light btn btnInv">CONTINUAR COMO INVITADO</a>
            </div>
        </section>
    </section>
</section>
<app-footer-payments></app-footer-payments>