@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

body {
background: #DFC2F2;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
	background-attachment: fixed;	
	background-size: cover;
	}

#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	// height: 350px;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
	
}



/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding-top: 20px;
	height: 100%;
	float: right;
	width: 50%;

}

/* 	Product Name */
#container .product-details h1{
	display: inline-block;
	position: relative;
	color: #344055;
    margin: 0;
    font-size: 25px;
	
}

// #container .product-details h1:before{
// 	position: absolute;
// 	content: '';
// 	right: 0%; 
// 	top: 0%;
// 	transform: translate(25px, -15px);
// 	font-family: 'Farsan', cursive;
// 	display: inline-block;
// 	background: #FFA69E;
// 	border-radius: 5px;
// 	font-size: 14px;
// 	padding: 5px;
// 	color: #FFF;
// 	margin: 0;
// 	animation: chan-sh 6s ease infinite;

// }


@keyframes chan-sh {
	from  {content: 'free shipping';}
	to  {content: 'New';}
	
}

// /*Product Rating  */
// .hint-star {
// 	display: inline-block;
// 	margin-left: 0.5em;
// 	color: #2E2B27;
// 	width: 50%;
// }


/* The most important information about the product */
#container .product-details > p {
    // text-align: center;
    font-size: 12px;
	color: #7d7d7d;
}

/* control */

.control{
	// position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #8D93BC;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
    margin: 0;
    height: 50px;
	
}

.btn:hover{transform: translateY(-4px);}

.btn span {
	transition: transform 0.3s;
	display: inline-block;
    padding: 10px 20px;
	margin:0;
	
}
/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
// .btn .shopping-cart {
// 	transform: translateX(-100%);
//   position: absolute;
// 	background: #333;
// 	z-index: 1;
//   left: 0;
//   top: 0;
// }

/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	// float: left;
	width: 50%;
    margin-top: 40px;
}

#container img {width: 100%;height: 100%;}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

.container-location i {
    margin-top: 10px;
    color: #344055;
    text-decoration: underline;
}

.location {
    padding-bottom: 30px;
    padding-top: 10px;
    width: 50%;
}

a {
    color: #7d7d7d;
    font-size: 12px;
}

.quantity {
    display: flex;
}

.quantity button{
    background: #ffffff;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.quantity input {
    width: 30px;
    border-bottom: none;
    margin-left: 20px;
    height: 30px;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: rgb(182, 174, 174);
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: #050505;
  }
  
  input[type="radio"]:checked ~ label {
    color: #050505;
  }

  .price input {
    width: 30px;
    border-bottom: none;
    margin-left: 20px;
    height: 30px;
}


//Todo sobre Modal
.modalDetail{
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.containerM{
  background-color: #ffffff;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.356);
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.headerModal{
  position: relative;
}
.close{
  color: #21388B;
  font-size: calc(1em + 1vw);
  position: absolute;
  background-color: #ffffff;
  font-weight: 600;
  border-style: none;
  cursor: pointer;
  top:0;
  right: 0;
}
.close:hover{
  color: #FDB827;
}
.title{
  text-align: center;
  font-size: calc(0.8em + 0.8vw);
  font-weight: 600;
}

@media (max-width:1024px) {
.container{
  width: 60%;
  }
}
@media screen and (max-width: 575px) {
  .container{
      width: 80%;
  }
}