.payButtons{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}
.payButtons a{
    display: flex;
    background-color: #8D93BC;
    padding: 1vw;
    height: 50px;
    width: 170px;
    font-size: small;
    text-align: center;
    margin-top: 5vw;
}
#back a{
    background-color: white;
    border: solid #6D8BA9 1px ;
    color:#6D8BA9;
    padding: 1vw;
    height: 50px;
    width: 170px;
    font-size: small;
    text-align: center;
    text-align: center;
}
.container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
h5 {
    color: #A1B1C8;
}
h6{
    font-weight: 800;
    color: #707070;
}
p{
    font-weight: 100;
}
.paymentText{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
img{
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 800px){
    .payButtons a{
        display: flex;
        background-color: #8D93BC;
        padding: 1vw;
        height: 20vw;
        width: 30vw;
        margin-right: 10vw;
        flex-shrink: 2;
        font-size: 4vw;
    }
    #back a{
        background-color: white;
        border: solid #6D8BA9 1px ;
        color:#6D8BA9;
        padding: 1vw;
        height: 20vw;
        width: 30vw;
        font-size: 4vw;
    }
    .container{
        text-align: center;
        width: 80vw;
    }
    .paymentText{
        width: 100vw;
    }

}