<app-navbar-payments></app-navbar-payments>
<div class="container">

    <div class="paymentText">
        <img src="https://github.com/IllariLaksmi/BeautyCorpLim013/blob/main/BeautyCorp/src/assets/img/vector.png?raw=true"
        alt="">
        <h4>¡Ale, gracias por preferir Ésika!</h4>
        <h5>Orden de compra #: <br> 567432</h5>
        <h6>Recibimos tu orden y estamos confirmando tu compra</h6>
        <p>Hemos enviado todos los detalles sobre su compra al correo majo.motta@gmail.com y también puedes revisar el
            detalle <a id="ticketDetail">aquí</a>. Si no encuentras el correo, revisa tu bandeja de spam. </p>
        <p>Puedes seguir el estado de tu pedido creando una cuenta o entrando al link que enviamos a tu correo </p>
    </div>
    <div class="payButtons">
        <div id="back" class="space row">
            <a class="waves-effect waves-light btn">Ver pedido</a>
        </div>
        <div id="continue" class="space row">
            <a class="adjust waves-effect waves-light btn">Seguir comprando</a>
        </div>
    </div>
    <app-footer-payments></app-footer-payments>
</div>
